<% form_tag Moip.gateway_url, :class => "moip", "accept-charset" => "ISO-8859-1" do %>
	<div>
		<%= hidden_field_tag "id_carteira", options[:email] || Moip.config["email"] %>
		<%= hidden_field_tag "id_transacao", order.id %>
		<% puts order.products.inspect %>
		<%= hidden_field_tag "nome", "#{order.products.size} - #{order.products[0][:description]}" %>
		<%= hidden_field_tag "valor", order.total %>
		
		<%= submit_tag options[:submit] %>
	</div>
<% end %>
